<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102051690068-qimilt6gkdkcmhkgbjcn9v1mcuje80o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102051690068-qimilt6gkdkcmhkgbjcn9v1mcuje80o4</string>
	<key>API_KEY</key>
	<string>AIzaSyD3CaZD78zWTvHix-7bdW-R6hndr8FonO8</string>
	<key>GCM_SENDER_ID</key>
	<string>102051690068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Flicha.driver</string>
	<key>PROJECT_ID</key>
	<string>flicha</string>
	<key>STORAGE_BUCKET</key>
	<string>flicha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102051690068:ios:7d499633473f538224dfc1</string>
	<key>DATABASE_URL</key>
	<string>https://flicha.firebaseio.com</string>
</dict>
</plist>